<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/editar.xhtml">
<ui:define name="bodyHeader">
Editar Estoques
</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{estoqueBean.estoque.id}" />
<h:outputLabel class="label">Empresa:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="estoque" value="#{estoqueBean.estoque.empresa}" converter="entityConverter">
	<f:selectItems value="#{empresaBean.empresas}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.nomeFantasia}" ></f:selectItems>
</h:selectOneMenu>
</span>
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{estoqueBean.salva(estoqueBean.estoque)}" />
</h:form>
</ui:define>
</ui:composition>