<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/listar.xhtml">
<ui:define name="bodyHeader">
Simples Estoques
</ui:define>
<ui:define name="dataTable">
<h:form>
<h:commandButton class="button is-primary is-medium" value="Novo" action="#{estoqueBean.criar}"/>
</h:form>
<h:dataTable class="table" value="#{estoqueBean.estoques}" var="estoque">
<h:column>
<f:facet name="header">Id</f:facet>
#{estoque.id}
</h:column>
<h:column>
<f:facet name="header">Empresa</f:facet>
#{estoque.empresa.nomeFantasia}
</h:column>
<h:column>
<f:facet name="header">Actions</f:facet>
<h:form>
<h:commandButton class="button is-warning is-small" value="Editar" action="#{estoqueBean.editar(estoque)}" />
<h:commandButton class="button is-danger is-small" value="Excluir" action="#{estoqueBean.excluir(estoque)}" />
</h:form>
</h:column>
</h:dataTable>
</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{estoqueBean.estoque.id}" />
<h:outputLabel class="label">Empresa:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="estoque" value="#{estoqueBean.estoque.empresa}" converter="entityConverter">
	<f:selectItems value="#{empresaBean.empresas}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.nomeFantasia}" ></f:selectItems>
</h:selectOneMenu>
</span>
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{estoqueBean.salva(estoqueBean.estoque)}" />
</h:form>
</ui:define>
</ui:composition>