<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css"></link>
	<title><ui:insert name="pageTitle">Simples Pedidos</ui:insert></title>
</h:head>

<h:body>
<div id="navbar">
<ui:insert name="navbar">
<ui:include src="/nav_bar.xhtml" />
</ui:insert>
</div>
<div class="box">
	<div class="box">
		<h:outputLabel class="title">
			<ui:insert name="bodyHeader" />
		</h:outputLabel>
		<h:messages class="message is-danger error" id="todasMensagens" />
	</div>
	<ui:insert name="dataTable"></ui:insert>
	<ui:insert name="formulario"></ui:insert>
</div>
<div id="rodape">
	<ui:include src="/comuns/rodape.xhtml"></ui:include>
</div>
</h:body>
</html>