<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<ui:composition>
	<hr />
	<div class="footer">
	<div class="media">
	<h:graphicImage class="media-left image is-64x64" library="images" name="logo.png" />
	<h:graphicImage class="media-left image is-64x64" url="https://www.robocore.net/upload/equipes/240_188.png" />
	</div>

Desenvolvido pelos Alunos Daniel S. e Lucas K. da Católica SC.
</div>
</ui:composition>
</html>