<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/editar.xhtml">
<ui:define name="bodyHeader">
Editar Clientes
</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.id}" />
<h:outputLabel class="label">Empresa: </h:outputLabel>
<span class="select">
<h:selectOneMenu label="empresa" value="#{clienteBean.cliente.empresa}" converter="entityConverter">
	<f:selectItems value="#{empresaBean.empresas}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.razaoSocial}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Nome:</h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.nome}" />
<h:outputLabel class="label">E-mail: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.email}" />
<h:outputLabel class="label">CPF/CNPJ: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.cpf_cnpj}" />
<h:outputLabel class="label">Endereço: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.endereco}" />
<h:outputLabel class="label">CEP: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.cep}" />

<h:commandButton class="button is-success is-medium" value="Salvar" action="#{clienteBean.salva(clienteBean.cliente)}" />
</h:form>
</ui:define>
</ui:composition>