<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/listar.xhtml">
<ui:define name="bodyHeader">
Simples Clientes
</ui:define>
<ui:define name="dataTable">
<h:form>
<h:commandButton class="button is-primary is-medium" value="Novo" action="#{clienteBean.criar}" />
</h:form>
<h:dataTable class="table" value="#{clienteBean.clientes}" var="cliente" paginator="true" rows="10" lazy="false">
<h:column>
<f:facet name="header">Id</f:facet>
#{cliente.id}
</h:column>
<h:column>
<f:facet name="header">Nome</f:facet>
#{cliente.nome}
</h:column>
<h:column>
<f:facet name="header">CPF/CNPJ</f:facet>
#{cliente.cpf_cnpj}
</h:column>
<h:column>
<f:facet name="header">Endereço</f:facet>
#{cliente.endereco}
</h:column>
<h:column>
<f:facet name="header">CEP</f:facet>
#{cliente.cep}
</h:column>
<h:column>
<f:facet name="header">Empresa</f:facet>
#{cliente.empresa.razaoSocial}
</h:column>
<h:column>
<f:facet name="header">Actions</f:facet>
<h:form>
<h:commandButton class="button is-warning is-small" value="Editar"  action="#{clienteBean.editar(cliente)}" />
<h:commandButton class="button is-danger is-small" value="Excluir" action="#{clienteBean.excluir(cliente)}" />
</h:form>
</h:column>
</h:dataTable>
</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.id}" />
<h:outputLabel class="label">Empresa: </h:outputLabel>
<span class="select">
<h:selectOneMenu label="empresa" value="#{clienteBean.cliente.empresa}" converter="entityConverter">
	<f:selectItems value="#{empresaBean.empresas}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.razaoSocial}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Nome:</h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.nome}" />
<h:outputLabel class="label">E-mail: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.email}" />
<h:outputLabel class="label">CPF/CNPJ: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.cpf_cnpj}" />
<h:outputLabel class="label">Endereço: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.endereco}" />
<h:outputLabel class="label">CEP: </h:outputLabel><h:inputText class="input" value="#{clienteBean.cliente.cep}" />

<h:commandButton class="button is-success is-medium" value="Salvar" action="#{clienteBean.salva(clienteBean.cliente)}" />
</h:form>
</ui:define>
</ui:composition>