<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" template="/comuns/editar.xhtml">
	<ui:define name="bodyHeader">
Editar Usuarios
</ui:define>
	<ui:define name="formulario">
		<h:form class="box column">
			<h:outputLabel class="title" value="Cadastro" />
			<h:outputLabel class="label">Id:</h:outputLabel>
			<h:inputText class="input" value="#{usuarioBean.usuario.id}" />
			<h:outputLabel class="label">Nome: </h:outputLabel>
			<h:inputText class="input" value="#{usuarioBean.usuario.nome}" />
			<h:outputLabel class="label">Email:</h:outputLabel>
			<h:inputText class="input" value="#{usuarioBean.usuario.email}" />
			<h:outputLabel class="label">CPF:</h:outputLabel>
			<h:inputText class="input" value="#{usuarioBean.usuario.cpf}" />


			<h:commandButton class="button is-success is-medium" value="Salvar"
				action="#{usuarioBean.salva(usuarioBean.usuario)}" />
		</h:form>
	</ui:define>
</ui:composition>