<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" template="/comuns/listar.xhtml">
	<ui:define name="bodyHeader">
Simples Usuários
</ui:define>
	<ui:define name="dataTable">
		<h:form>
			<h:commandButton class="button is-primary is-medium" value="Novo"
				action="#{usuarioBean.criar}" />
		</h:form>
		<h:dataTable class="table" value="#{usuarioBean.usuarios}"
			var="usuario">
			<h:column>
				<f:facet name="header">Id</f:facet>
#{usuario.id}
</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>
#{usuario.nome}
</h:column>
			<h:column>
				<f:facet name="header">CPF</f:facet>
#{usuario.cpf}
</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
				<h:form>
					<h:commandButton class="button is-warning is-small" value="Editar"
						action="#{usuarioBean.editar(usuario)}">
					</h:commandButton>
					<h:commandButton class="button is-danger is-small" value="Excluir"
						action="#{usuarioBean.excluir(usuario)}" />
				</h:form>
			</h:column>
		</h:dataTable>
	</ui:define>
</ui:composition>