<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" template="/comuns/editar.xhtml">
	<link rel="StyleSheet" type="text/css"
		href="/web/faces/css/drop-down.css" media="screen"></link>


	<h:outputScript name="myfile.js" library="css"></h:outputScript>
	<ui:define name="bodyHeader">
Editar Pedido
</ui:define>
	<ui:define name="formulario">
		<h:form class="box column">
			<h:outputLabel class="title" value="Cadastro" />
			<h:outputLabel class="label">Id:</h:outputLabel>
			<h:inputText class="input" value="#{pedidoBean.pedido.id}" />
			<h:outputLabel class="label">Cliente: </h:outputLabel>
			<span class="select">
			 <h:selectOneMenu label="pedido"
					value="#{pedidoBean.pedido.cliente}" converter="entityConverter">
					<f:selectItems value="#{clienteBean.clientes}" var="cliente"
						itemValue="#{cliente}" itemLabel="#{cliente.nome}">
					</f:selectItems>
				</h:selectOneMenu>
			</span>
			<h:outputLabel class="label">Data: </h:outputLabel>
			<h:inputText class="input" value="#{pedidoBean.pedido.data}"
				converter="DateConverter" />



			<h:messages class="message is-danger error" id="todasMensagens" />

				<span class="select">
					<h:selectOneMenu value="#{itemPedidoBean.itemPedido.itemEstoque}">
						<f:selectItem itemlLabel="-- Selecione -- "
							noSelectionOption="true" />
						<f:selectItems value="#{itemPedidoBean.itens}" var="item"
							itemvalue="#{item}" itemLabel="#{item.produto.descricao}" />
					</h:selectOneMenu>
				</span>
				<h:commandButton class="button is-success is-medium" value="Salvar"
				action="#{pedidoBean.salva(pedidoBean.pedido)}" />
		</h:form>
	</ui:define>
</ui:composition>