<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" template="/comuns/listar.xhtml">
	<ui:define name="bodyHeader">
Simples Pedidos
</ui:define>
	<ui:define name="dataTable">
		<h:form>
			<h:commandButton class="button is-primary is-medium" value="Novo"
				action="#{pedidoBean.criar}" />
		</h:form>
		<h:dataTable class="table" value="#{pedidoBean.pedidos}" var="pedido">
			<h:column>
				<f:facet name="header">Id</f:facet>
#{pedido.id}
</h:column>
			<h:column>
				<f:facet name="header">Cliente</f:facet>
#{pedido.cliente.nome}
</h:column>
			<h:column>
				<f:facet name="header">Data</f:facet>
#{pedido.data}
</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
				<h:form>
					<h:commandButton class="button is-warning is-small" value="Editar"
						action="#{pedidoBean.editar(pedido)}" />
					<h:commandButton class="button is-danger is-small" value="Excluir"
						action="#{pedidoBean.excluir(pedido)}" />
				</h:form>
			</h:column>
		</h:dataTable>
	</ui:define>
		<ui:define name="formulario">
		<h:form class="box column">
			<h:outputLabel class="title" value="Cadastro" />
			<h:outputLabel class="label">Id:</h:outputLabel>
			<h:inputText class="input" value="#{pedidoBean.pedido.id}" />
			<h:outputLabel class="label">Cliente: </h:outputLabel>
			<span class="select">
			 <h:selectOneMenu label="pedido"
					value="#{pedidoBean.pedido.cliente}" converter="entityConverter">
					<f:selectItems value="#{clienteBean.clientes}" var="cliente"
						itemValue="#{cliente}" itemLabel="#{cliente.nome}">
					</f:selectItems>
				</h:selectOneMenu>
			</span>
			<h:outputLabel class="label">Data: </h:outputLabel>
			<h:inputText class="input" value="#{pedidoBean.pedido.data}"
				converter="DateConverter" />

			<h:commandButton class="button is-success is-medium" value="Salvar"
				action="#{pedidoBean.salva(pedidoBean.pedido)}" />

		</h:form>

	</ui:define>
</ui:composition>