<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/editar.xhtml">
<ui:define name="bodyHeader">
Editar Item de Estoque
</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{itemEstoqueBean.itemEstoque.id}" />
<h:outputLabel class="label">Empresa:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="estoque" value="#{itemEstoqueBean.itemEstoque.estoque}" converter="entityConverter">
	<f:selectItems value="#{estoqueBean.estoques}" var="estoque" itemValue="#{estoque}" itemLabel="#{estoque.empresa.nomeFantasia}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Produto:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="produto" value="#{itemEstoqueBean.itemEstoque.produto}" converter="entityConverter">
	<f:selectItems value="#{produtoBean.produtos}" var="produto" itemValue="#{produto}" itemLabel="#{produto.descricao}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Quantidade:</h:outputLabel><h:inputText class="input" value="#{itemEstoqueBean.itemEstoque.quantidade}" />
<h:outputLabel class="label">Preço: </h:outputLabel><h:inputText class="input" value="#{itemEstoqueBean.itemEstoque.produto}" />
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{empresaBean.salva(empresaBean.empresa)}" />
</h:form>
</ui:define>
</ui:composition>