<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/listar.xhtml">
<ui:define name="bodyHeader">
Simples Itens de Pedido
</ui:define>
<ui:define name="dataTable">
<h:form>
<h:commandButton class="button is-primary is-medium" value="Novo" action="#{itemPedidoBean.criar}"/>
</h:form>
<h:dataTable class="table" value="#{itemPedidoBean.itensPedido}" var="itemPedido">
<h:column>
<f:facet name="header">Id</f:facet>
#{itemPedido.id}
</h:column>
<h:column>
<f:facet name="header">Preço Unidade</f:facet>
#{itemPedido.itemEstoque.produto.preco}
</h:column>
<h:column>
<f:facet name="header">Quantidade</f:facet>
#{itemPedido.quantidade}
</h:column>
<h:column>
<f:facet name="header">Total Preço</f:facet>
#{itemPedido.precoTotal}
</h:column>
<h:column>
<f:facet name="header">Empresa:</f:facet>
#{itemPedido.itemEstoque.estoque.empresa.nomeFantasia}
</h:column>
<h:column>
<f:facet name="header">Actions</f:facet>
<h:form>
<h:commandButton class="button is-warning is-small" value="Editar" action="#{itemPedidoBean.editar(itemPedido)}" />
<h:commandButton class="button is-danger is-small" value="Excluir" action="#{itemPedidoBean.excluir(itemPedido)}" />
</h:form>
</h:column>
</h:dataTable>

</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{itemPedidoBean.itemPedido.id}" />
<h:outputLabel class="label">Pedido:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="pedido" value="#{itemPedidoBean.itemPedido.pedido}" converter="entityConverter">
	<f:selectItems value="#{pedidoBean.pedidos}" var="pedido" itemValue="#{pedido}" itemLabel="#{pedido.id}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Produto em Estoque:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="produto" value="#{itemPedidoBean.itemPedido.itemEstoque}" converter="entityConverter">
	<f:selectItems value="#{itemEstoqueBean.itensEstoques}" var="itemEstoque" itemValue="#{itemEstoque}" itemLabel="#{itemEstoque.produto.descricao}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Quantidade:</h:outputLabel><h:inputText class="input" value="#{itemPedidoBean.itemPedido.quantidade}" />
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{itemPedidoBean.salva(itemPedidoBean.itemPedido)}" />
</h:form>
</ui:define>
</ui:composition>