<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/comuns/listar.xhtml">
<ui:define name="bodyHeader">
Simples Estoques
</ui:define>
<ui:define name="dataTable">
<h:form>
<h:commandButton class="button is-primary is-medium" value="Novo" action="#{itemEstoqueBean.criar}"/>
</h:form>
<h:dataTable class="table" value="#{itemEstoqueBean.itensEstoques}" var="itemEstoque">
<h:column>
<f:facet name="header">Id</f:facet>
#{itemEstoque.id}
</h:column>
<h:column>
<f:facet name="header">Descrição</f:facet>
#{itemEstoque.produto.descricao}
</h:column>
<h:column>
<f:facet name="header">Preço Unidade</f:facet>
#{itemEstoque.produto.preco}
</h:column>
<h:column>
<f:facet name="header">Quantidade</f:facet>
#{itemEstoque.quantidade}
</h:column>
<h:column>
<f:facet name="header">Total Preço</f:facet>
#{itemEstoque.precoTotal}
</h:column>
<h:column>
<f:facet name="header">Empresa:</f:facet>
#{itemEstoque.estoque.empresa.nomeFantasia}
</h:column>
<h:column>
<f:facet name="header">Actions</f:facet>
<h:form>
<h:commandButton class="button is-warning is-small" value="Editar" action="#{itemEstoqueBean.editar(itemEstoque)}" />
<h:commandButton class="button is-danger is-small" value="Excluir" action="#{itemEstoqueBean.excluir(itemEstoque)}" />
</h:form>
</h:column>
</h:dataTable>

</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{itemEstoqueBean.itemEstoque.id}" />
<h:outputLabel class="label">Estoque:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="estoque" value="#{itemEstoqueBean.itemEstoque.estoque}" converter="entityConverter">
	<f:selectItems value="#{estoqueBean.estoques}" var="estoque" itemValue="#{estoque}" itemLabel="#{estoque.empresa.nomeFantasia}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Produto:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="produto" value="#{itemEstoqueBean.itemEstoque.produto}" converter="entityConverter">
	<f:selectItems value="#{produtoBean.produtos}" var="produto" itemValue="#{produto}" itemLabel="#{produto.descricao}"></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Quantidade:</h:outputLabel><h:inputText class="input" value="#{itemEstoqueBean.itemEstoque.quantidade}" />
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{itemEstoqueBean.salva(itemEstoqueBean.itemEstoque)}" />
</h:form>
</ui:define>
</ui:composition>