<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" template="/comuns/listar.xhtml">
	<ui:define name="bodyHeader">
Simples Produtos
</ui:define>
	<ui:define name="dataTable">
		<h:form>
			<h:commandButton class="button is-primary is-medium" value="Novo"
				action="#{produtoBean.criar}" />
		</h:form>
		<h:dataTable class="table" value="#{produtoBean.produtos}"
			var="produto">
			<h:column>
				<f:facet name="header">Id</f:facet>
#{produto.id}
</h:column>
			<h:column>
				<f:facet name="header">Descrição</f:facet>
#{produto.descricao}
</h:column>
			<h:column>
				<f:facet name="header">Preço</f:facet>
#{produto.preco}
</h:column>
			<h:column>
				<f:facet name="header">Actions</f:facet>
				<h:form>
					<h:commandButton class="button is-warning is-small" value="Editar"
						action="#{produtoBean.editar(produto)}">
					</h:commandButton>
					<h:commandButton class="button is-danger is-small" value="Excluir"
						action="#{produtoBean.excluir(produto)}" />
				</h:form>
			</h:column>
		</h:dataTable>
	</ui:define>
<ui:define name="formulario">
<h:form class="box column">
<h:outputLabel class="title" value="Cadastro" />
<h:outputLabel class="label">Id:</h:outputLabel><h:inputText class="input" value="#{produtoBean.produto.id}" />
<h:outputLabel class="label">Empresa:</h:outputLabel>
<span class="select">
<h:selectOneMenu label="estoque" value="#{produtoBean.produto.empresa}" converter="entityConverter">
	<f:selectItems value="#{empresaBean.empresas}" var="empresa" itemValue="#{empresa}" itemLabel="#{empresa.nomeFantasia}" ></f:selectItems>
</h:selectOneMenu>
</span>
<h:outputLabel class="label">Descrição:</h:outputLabel><h:inputText class="input" value="#{produtoBean.produto.descricao}" />
<h:outputLabel class="label">Preço:</h:outputLabel><h:inputText class="input" value="#{produtoBean.produto.preco}" />
<h:commandButton class="button is-success is-medium" value="Salvar" action="#{produtoBean.salva(produtoBean.produto)}" />
</h:form>
</ui:define>
</ui:composition>