<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css"></link>
	<title>Simples Pedidos</title>
</h:head>

<h:body>
  <div class="box container login-container has-centered ">
  <p class="box login-title has-centered">
  <span class="title is-1">Cadastrar</span>
  </p>
  <h:form>
  <h:outputLabel>CPF:</h:outputLabel>
  <div class="control has-icon">
    <h:inputText class="input is-medium " placeholder="CPF" value="#{loginBean.usuario.cpf}" />
    <i class="fa fa-asterisk"></i>
  </div>
  <h:outputLabel>Name:</h:outputLabel>
  <div class="control has-icon">
    <h:inputText class="input is-medium " placeholder="Name" value="#{loginBean.usuario.nome}" />
    <i class="fa fa-smile-o"></i>
  </div>
  <div class="control has-icon">
    <h:inputText class="input is-medium " placeholder="Email" value="#{loginBean.usuario.email}" />
    <i class="fa fa-envelope "></i>
  </div>
  <div class="control has-icon">
    <h:inputSecret class="input is-medium" placeholder="Password" value="#{loginBean.usuario.senha}" />
  <i class="fa fa-lock "></i>
  </div>
    <p class="control">
      <h:commandButton class="button is-primary is-medium" value="Registrar-se" action="#{loginBean.efetuaCadastro()}" />
    </p>
  </h:form>
  </div>
</h:body>
</html>