<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css"></link>
	<link rel="StyleSheet" type="text/css" href="css/drop-down.css"
		media="screen"></link>
	<title>Simples Pedidos</title>
</h:head>

<h:body>
	<div class="box container login-container tile is-4">

		<div class="login-title has-text-centered is-vertical is-parent tile">
			<span class="box"><span class="container image is-64x64"><h:graphicImage name="images/logo.png"></h:graphicImage></span><span class="title">Simples Pedidos</span></span>



			<div class="login-form">
				<h:form id="formLogin">
					<h:messages class="message is-danger error" id="todasMensagens" />
					<f:ajax execute="@this" event="keyup" render="todasMensagens" />
					<div class="control has-icon">
						<h:inputText class="input is-medium has-text-centered"
							placeholder="Email" value="#{loginBean.usuario.email}" />
						<i class="fa fa-envelope "></i>
					</div>
					<div class="control has-icon">
						<h:inputSecret class="input is-medium has-text-centered"
							placeholder="Password" value="#{loginBean.usuario.senha}" />
						<i class="fa fa-lock "></i>
					</div>

					<div class="control login-button is-right is-fullwidth">
						<h:commandButton
							class="button is-primary is-fullwidth is-medium is-right"
							value="Login" action="#{loginBean.efetuaLogin}" />
					</div>

					<div class="control">
						<p class="has-text-centered">
							Não tem cadastro?<a href="cadastrar.xhtml">Sign Up</a>
						</p>
					</div>
				</h:form>
			</div>
		</div>
	</div>
</h:body>
</html>