<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.css"></link>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css"></link>
	<link rel="StyleSheet" type="text/css" href="/web/faces/css/drop-down.css"
		media="screen"></link>
	<title>Simples Pedidos</title>
</h:head>

<nav class="nav has-shadow">
	<div class="nav-center">
		<a class="nav-item" href="#"><h:graphicImage name="images/logo.png"></h:graphicImage></a>

		<a class="nav-item is-tab" href="/web/faces/empresa/listar.xhtml">
		<span class="icon fa fa-building" /> Empresas
		</a>
		<a class="nav-item is-tab" href="/web/faces/usuario/listar.xhtml"> <span class="icon fa fa-users" />
		Usuários
		</a>
		<a class="nav-item is-tab" href="/web/faces/itemEstoque/listar.xhtml"> <span class="icon fa fa-bomb" />
		Produtos em Estoque
		</a>
		<a class="nav-item is-tab" href="/web/faces/cliente/listar.xhtml"> <span class="icon fa fa-child" />
		Clientes
		</a>
		<a class="nav-item is-tab" href="/web/faces/produto/listar.xhtml"> <span class="icon fa fa-book" />
		Produtos
		</a>
		<a class="nav-item is-tab" href="/web/faces/estoque/listar.xhtml"> <span class="icon fa fa-database" />
		Estoques
		</a>
		<a class="nav-item is-tab" href="/web/faces/pedido/listar.xhtml"> <span class="icon fa fa-money" />
		Pedidos
		</a>
		<a class="nav-item is-tab" href="/web/faces/itemPedido/listar.xhtml"> <span class="icon fa fa-cart-arrow-down" />
		Itens de Pedido
		</a>
	</div>

	<span class="nav-toggle" />

	<div class="nav-right nav-menu">

		<div class="dropdown nav-item">
			<button class="dropbtn button">
				<span class="icon"><i class="fa fa-user"></i></span>
				#{loginBean.usuario.nome}
			</button>
			<div class="dropdown-content">
				<h:form>
					<h:commandLink class="fa fa-power-off" action="#{loginBean.logout}"> Sair</h:commandLink>
				</h:form>
			</div>
		</div>




	</div>
</nav>
</html>